<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-voting System</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Login_1.css">
</head>
<body>
    <header>
        <a href="#" class="u-logo">
            <img src="../static/images/default-logo.png" alt="Logo">
        </a>
    </header>

    <div class="container">
        <h1>E-voting System</h1>

        <form action="/login_1" class="login-form" method="POST" style="padding: 10px;">
    <!-- Username Input -->
        <label for="username" class="u-label">Username *</label>
        <input type="text" placeholder="Enter your Username" id="username" name="username"
               class="u-input u-input-rectangle u-none u-input-1" required autocomplete="username">

    <!-- Password Input -->
        <label for="password" class="u-label">Password *</label>
        <input type="password" placeholder="Enter your Password" id="password" name="password"
               class="u-input u-input-rectangle u-none u-input-2" required autocomplete="current-password">
    <!-- Submit Button -->

        <button type="submit" class="u-btn-1">Login</button>

    <!-- Error Message Display -->
    <div class="error-message">
    {{ error_message if error_message else '' }}
</div>
</form>

    </div>
<footer>
        <p>Aplikacja do bezpiecznego głosowania - projekt w ramach przemiotu "Bezpieczeństwo usług we współczesnych sieciach"<br> Autorzy: Emilia Anczarska, Piotr Kosiara <br> 2025</p>
    </footer>
</body>
</html>
