<!DOCTYPE html>
<html>
<head>
    <title>HTML Login Form</title>
    <link rel="stylesheet" href="../static/css/Login_1.css" media="screen">
    <style>
        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="main">
        <h3>Enter your login credentials</h3>
        <form action="/login" method="post">
            <label for="username">Personal ID:</label>
            <input type="text" 
                   id="username" 
                   name="username" 
                   placeholder="Enter your Personal ID" required>

            <label for="password">Password:</label>
            <input type="password"
                   id="password" 
                   name="password"
                   placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">Submit</button>
            </div>

            {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
