<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Terms.css">
</head>
<body>
    <header>
        <a href="#" class="u-logo">
            <img src="../static/images/default-logo.png" alt="Logo">
        </a>
    </header>

    <div class="container">
        <h1>Terms and Conditions</h1>

        <div class="terms-content">
            <pre class="terms-text">
{{ terms_content if terms_content else 'Terms and Conditions not available at the moment.' }}
            </pre>
        </div>

        <form action="/terms" method="POST" class="terms-form">
            <div class="checkbox-container">
                <input type="checkbox" id="agree_to_terms" name="preference" value="agree" required>
                <label for="agree_to_terms">I agree with the terms and conditions</label>
            </div>
            <button type="submit" class="u-btn-1">Proceed</button>
        </form>
    </div>

    <footer>
        <p>Aplikacja do bezpiecznego głosowania - projekt w ramach przemiotu "Bezpieczeństwo usług we współczesnych sieciach"<br> Autorzy: Emilia Anczarska, Piotr Kosiara <br> 2025</p>
    </footer>
</body>
</html>
