<!DOCTYPE html>
<html style="font-size: 16px;" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Login_2</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Verify_code.css">
</head>
<body>
<header>
        <a href="#" class="u-logo">
            <img src="../static/images/default-logo.png" alt="Logo">
        </a>
    </header>

<div class="container">
<section class="u-clearfix u-section-1" id="sec-600b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h6 class="u-align-center">Please check your e-mail account<br>for the verification code</h6>
        <div class="u-align-center u-form u-form-1">
            <form action="/verify_code" class="u-form" method="POST">
                <div class="u-form-group">
                    <label for="code">Code *</label>
                    <input type="password" placeholder="Enter your Code" id="code" name="code" class="u-input" required>
                </div>
                <div class="u-form-group u-form-submit">
                    <button type="submit" class="u-btn-1">Check</button>
                </div>
                {% if error_code %}
                <div class="error-message">
                    {{ error_code }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</section>
</div>
 <footer>
        <p>Aplikacja do bezpiecznego głosowania - projekt w ramach przemiotu "Bezpieczeństwo usług we współczesnych sieciach"<br> Autorzy: Emilia Anczarska, Piotr Kosiara <br> 2025</p>
    </footer>
</body>
</html>
